{% if common_smartmontools_devicescan | is_ne_str %}
DEVICESCAN {{ common_smartmontools_devicescan }}{% if common_smartmontools_mail_to | is_ne_str %} -m {{ common_smartmontools_mail_to }}{% endif %}
{% endif %}

{% if common_smartmontools_devices | is_ne_list %}
{% for device in common_smartmontools_devices %}
{{ device }}{% if common_smartmontools_mail_to | is_ne_str %} -m {{ common_smartmontools_mail_to }}{% endif %}
{% endfor %}
{% endif %}
