#jinja2: lstrip_blocks: True, trim_blocks: True
#!/usr/bin/env bash

{% for item in common_firewall.filter | default([]) %}
  {% for service in item.services %}
    {% if "any" not in service.sources %}
ipset create NEW-Z-{{ item.zone | replace(' ', '-') | upper }}-S-{{ service.name | replace(' ', '-') | upper }} hash:net family inet hashsize 1024 maxelem 65536 bucketsize 12
      {% for source in service.sources %}
        {% if "/" not in source %}
ipset add NEW-Z-{{ item.zone | replace(' ', '-') | upper }}-S-{{ service.name | replace(' ', '-') | upper }} {{ source }}/32
        {% else %}
ipset add NEW-Z-{{ item.zone | replace(' ', '-') | upper }}-S-{{ service.name | replace(' ', '-') | upper }} {{ source }}
        {% endif %}
      {% endfor %}
ipset swap NEW-Z-{{ item.zone | replace(' ', '-') | upper }}-S-{{ service.name | replace(' ', '-') | upper }} Z-{{ item.zone | replace(' ', '-') | upper }}-S-{{ service.name | replace(' ', '-') | upper }}
ipset destroy NEW-Z-{{ item.zone | replace(' ', '-') | upper }}-S-{{ service.name | replace(' ', '-') | upper }}
    {% endif %}
  {% endfor %}
{% endfor %}
