#jinja2: lstrip_blocks: True, trim_blocks: True
###############################################

*raw
:PREROUTING ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]

{% for rule in common_firewall.get('raw', {}).get('raw', []) %}
{{ rule }}
{% endfor %}

COMMIT

###############################################

*mangle
:PREROUTING ACCEPT [0:0]
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]

{% for rule in common_firewall.get('raw', {}).get('mangle', []) %}
{{ rule }}
{% endfor %}
{% if common_firewall.get('tcp_mss', false) %}
-A FORWARD -p tcp -m tcp --tcp-flags SYN,RST SYN -j TCPMSS --clamp-mss-to-pmtu
{% endif %}

COMMIT

###############################################

*nat
:PREROUTING ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]

{% for rule in common_firewall.get('raw', {}).get('nat', []) %}
{{ rule }}
{% endfor %}
{% for interface in common_firewall.get('masquerade', {}).get('interfaces', []) %}
-A POSTROUTING -o {{ interface }} -j MASQUERADE
{% endfor %}

COMMIT

###############################################

*filter
:INPUT DROP [0:0]
:FORWARD DROP [0:0]
:OUTPUT ACCEPT [0:0]
{% for item in common_firewall.get('filter', {}).get('input', []) %}
:Z-{{ item.zone | replace(' ', '-') | upper }} - [0.0]
{% endfor %}

-A INPUT -m state --state RELATED,ESTABLISHED -j ACCEPT
-A INPUT -p icmp -j ACCEPT
-A INPUT -i lo -j ACCEPT
{% for rule in common_firewall.get('raw', {}).get('filter', []) %}
{{ rule }}
{% endfor %}

{% for item in common_firewall.get('filter', {}).get('input', []) %}
#######################
# Zone: {{ item.zone }}

    {% if "any" in item.get('ip_addresses', []) %}
-A INPUT -j Z-{{ item.zone | replace(' ', '-') | upper }}
    {% else %}
        {% for ip in item.get('ip_addresses', []) %}
-A INPUT -d {{ ip }} -j Z-{{ item.zone | replace(' ', '-') | upper }}
        {% endfor %}
    {% endif %}
    {% if "any" in item.get('interfaces', []) %}
-A INPUT -j Z-{{ item.zone | replace(' ', '-') | upper }}
    {% else %}
        {% for interface in item.get('interfaces', []) %}
-A INPUT -i {{ interface }} -j Z-{{ item.zone | replace(' ', '-') | upper }}
        {% endfor %}
    {% endif %}
    {% for service in item.get('services', []) %}

# Service: {{ service.name }}
        {% if "any" in service.ports and "any" not in service.sources %}
-A Z-{{ item.zone | replace(' ', '-') | upper }} -m set --match-set Z-{{ item.zone | replace(' ', '-') | upper }}-S-{{ service.name | replace(' ', '-') | upper }} src -j ACCEPT
        {% else %}
            {% for port in service.get('ports', []) %}
                {% if "/" in port %}
                    {% set proto = port.split("/")[0] %}
                    {% set port_number = port.split("/")[1] %}
                {% else %}
                    {% set proto = 'tcp' %}
                    {% set port_number = port %}
                {% endif %}
                {% if "any" in service.sources | default([]) %}
-A Z-{{ item.zone | replace(' ', '-') | upper }} -p {{ proto }}{% if port_number %} --dport {{ port_number }}{% endif %} -j {{ service.get('action', "accept") | upper }}
                {% elif service.sources | default([]) | ansible.utils.ipv4 | length > 0 %}
-A Z-{{ item.zone | replace(' ', '-') | upper }} -p {{ proto }}{% if port_number %} --dport {{ port_number }}{% endif %} -m set --match-set Z-{{ item.zone | replace(' ', '-') | upper }}-S-{{ service.name | replace(' ', '-') | upper }} src -j {{ service.get('action', "accept") | upper }}
                {% else %}
                    {% for custom_zone in service.sources | default([]) %}
                        {% if not custom_zone | ansible.utils.ipv4 and not custom_zone | ansible.utils.ipv6 %}
-A Z-{{ item.zone | replace(' ', '-') | upper }} -p {{ proto }}{% if port_number %} --dport {{ port_number }}{% endif %} -m set --match-set {{ custom_zone | replace(' ', '-') }} src -j {{ service.get('action', "accept") | upper }}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}

-A Z-{{ item.zone | replace(' ', '-') | upper }} -j {{ item.get('default', "return") | upper }}

{% endfor %}

#######################
# Forward

{% for item in common_firewall.get('filter', {}).get('forward', []) %}
    {% for interface in item.get('interfaces', []) | get_all_pairs %}
# Interfaces:  {{ interface['from'] }} <-> {{ interface['to'] }}
-A FORWARD -i {{ interface['from'] }} -o {{ interface['to'] }} -j ACCEPT
-A FORWARD -o {{ interface['from'] }} -i {{ interface['to'] }} -j ACCEPT

    {% endfor %}
    {% for network in item.get('networks', []) | get_all_pairs %}
# Network: {{ network['from'] }} <-> {{ network['to'] }}
-A FORWARD -s {{ network['from'] }} -d {{ network['to'] }} -j ACCEPT
-A FORWARD -d {{ network['from'] }} -s {{ network['to'] }} -j ACCEPT

    {% endfor %}
    {% for zone in item.get('zones', []) | get_all_pairs %}
# Zone: {{ zone['from'] }} <-> {{ zone['to'] }}
-A FORWARD -m set --match-set {{ zone['from'] }} src -m set --match-set {{ zone['to'] }} dst -j ACCEPT
-A FORWARD -m set --match-set {{ zone['from'] }} dst -m set --match-set {{ zone['to'] }} src -j ACCEPT

    {% endfor %}
{% endfor %}
COMMIT
